html {
  height: 100%;
  width: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}
.section1{
	background-color:#1069b8;
	width:20%;
	float:left;
	height:100vh;
	
}
.section2{
	background-color:#f15e0f;
	width:80%;
	float:right;
	height:100vh;
}

.mainContainer {
  width: 100%;
}



